body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
	 background: linear-gradient(#B79A9A,#B79A9A);
	
}

.container {
    display: flex;
}

.menu {
    background-color: #700000;
    width: 200px;
    height: 100vh;
    color: #fff;
}

.menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu ul li {
    padding: 15px 20px;
    border-bottom: 1px solid #FFFFFF;
}
.producto
{	width: 26%;
	float: left;
	border: 3px solid #140000;
	background-color: #700000;
	color: #FFFFFF;
	margin: 4em;
	height: 15em;
	text-align: center;
	padding: 4em;
}
	

.precio	
{	width: 90%;
	margin: auto;
	background-color: #fff;
	color: #000;
	margin-bottom: 1em;
}

.menu ul li a {
    text-decoration: none;
    color: #fff;
}

.menu ul li:hover {
    background-color: #555;
}

main {
    flex: 1;
    padding: 20px;
}

.logos{
    width: 30px;
}

.logoWhats{
    width: 50px;
}

.content{
    text-align: center;
    margin: 3%;
}